#main_container{
    margin: auto;
}

/*====================================================*/
/*Game and gameboard elements*/
#game{
    width : 50%;
    height: 50%;
    margin  : auto;

    flex: 1;
}

#game #gameboard div.col-10.col-sm-11{
    padding: 0 !important;
}

#boardWrapper{
    width  : 100%;
    height : 100%;
}

#boardWrapper #canvasWrapper {
    width  : 100%;
    height : 100%;
    position: relative;
}
/*====================================================*/


/*====================================================*/
/*ALL SCREENS GAMES ELEMENTS*/
/*transform screen elements*/
#boardWrapper #canvasWrapper #transform_screen {
    top     : 0;
    left    : 12px;
    background-color: rgba(0,0,0,0.5);
    border  : solid 2px black;
    width   : calc(100% - 24px);
    height  : 100%;
    z-index: 1;
    position: absolute;
    color: white;
}

#boardWrapper #canvasWrapper #transform_screen .message{
    color: var(--colorSecondary);
}

#transform_screen .imgtransform{
    border: solid 5px transparent;
    cursor: pointer;


    background: rgba(0,0,0,0.1);
}

#transform_screen .imgtransform:hover{
    border: solid 5px var(--colorSecondary);
}

#transform_screen .message{
    font-size: 1.7vw;
}

#transform_screen .player{
    font-size: 1.2vw;
}

#transform_screen footer{
    font-size: 1.2vw;
}

/*End screen elements*/
#boardWrapper #canvasWrapper #end_screen {
    top: 0;
    left: 12px;
    background-color: rgba(0,0,0,0.5);
    border: solid 2px black;
    width   : calc(100% - 24px);
    height : 100%;
    z-index: 1;
    position: absolute;
    color: white;
}

#boardWrapper #canvasWrapper #end_screen .message{
    color: var(--colorSecondary);
}
/*====================================================*/


/*====================================================*/
/*Players UI MAJ*/
#gameUI {
    justify-content: space-evenly;
    flex: 1;
}
#gameUI div.activePlayer {
    color: var(--colorActivePlayer_dark);
}
#gameUI div.activePlayer div.card{
    background-color: var(--colorActivePlayer_light);
    border-color: var(--colorActivePlayer);
    border-width: 2px;
}
/*PLAYER DATA UI*/
#gameUI .playerData{
    position: relative;
}
/*====================================================*/


/*====================================================*/
/*Loading element player*/
/*https://codepen.io/boshea93/pen/abvjppx*/
#gameUI .waiting {
    display: flex;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    border: solid;
    padding: .5em 1em .5em 1em;
    border-radius: .4em;
    border-width: .25em;
    border-color: var(--colorPrimaryVariant);
}

#gameUI .waiting .ball {
    background: var(--colorPrimaryVariant);
    border-radius: 1em;
    text-align: center;
    font-size: 1em;
    padding: 0.2em;
    width: 1.5em;
    height: 1.5em;
    border-style: none;
    margin:1em;
    animation: ani 0.5s infinite;
    /*x-transition: all 1s ease-in-out;*/
}

#gameUI .waiting .ball_1{
    animation: ani1 1.25s infinite;
}
#gameUI .waiting .ball_2{
    animation: ani2 1.25s infinite;
}
#gameUI .waiting .ball_3{
    animation: ani3 1.25s infinite;
}

/*Button waiting animation*/
@keyframes ani1 {
    0% {
        transform: scale(1.0);
    }
    20% {
        transform: scale(1.5);
        background: var(--colorPrimaryVariantDark);
    }
    40% {
        transform: scale(1.0);
    }
    60%{
        transform: scale(1.0);
    }
    80% {
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.0)
    }
}
@keyframes ani2 {
    0% {
        transform: scale(1.0);
    }
    20% {
        transform: scale(1.0);
    }
    40% {
        transform: scale(1.5) translate(0%,-25%);
        background: var(--colorPrimaryVariantDark);
    }
    60%{
        transform: scale(1.0);
    }
    80% {
        transform: scale(1.0);
    }
    100%{
        transform: scale(1.0);
    }
}
@keyframes ani3 {
    0% {
        transform: scale(1.0);
    }
    20% {
        transform: scale(1.0);
    }
    40% {
        transform: scale(1.0);
    }
    60%{
        transform: scale(1.5);
        background: var(--colorPrimaryVariantDark);
    }
    80% {
        transform: scale(1.0)
    }
    100%{
        transform: scale(1.0)
    }
}

/*====================================================*/