:root{
    --colorPrimary              : #A4C2AF7B;
    --colorPrimaryVariant       : #C2AF7B;
    --colorPrimaryVariantDark   : #695b35;
    --colorSecondary            : #7BC2BE;
    --colorSecondary-rgba       : rgba(123, 194, 190,0.8);
    --colorSecondaryLight       : #89a8a4;
    --colorSecondaryVariant     : #326966;
    --colorTertiary             : #C27BA0;
    --colorTertiaryVariant      : #741B47;

    --dark-color-1 : #454545;

    --colorActivePlayer_dark        : #741B47;
    --colorActivePlayer_light       : rgb(218, 179, 188);
    --colorActivePlayer             : #C27BA0;

    --gradient-magenta : linear-gradient(var(--colorTertiary), var(--colorTertiaryVariant) 75%);
    --gradient-primary : linear-gradient(to top, var(--colorPrimaryVariant), var(--colorPrimaryVariantDark) 75%);

    --gradient-game : linear-gradient(145deg,rgba(40,37,37,1) 29%, rgba(69,69,69,1) 80%, rgba(116,27,71,1) 98%);
    --gradient-blue : linear-gradient(145deg, var(--colorSecondary), var(--colorSecondaryVariant) 75%);
    --gradient-gray : linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
    --box-shadox-blue-active : 4px 4px 8px var(--colorSecondary), -4px -4px 8px var(--colorSecondaryVariant);
    --box-shadox-magenta-active : 4px 4px 8px var(--colorTertiary), -4px -4px 8px var(--colorTertiaryVariant);
    --box-shadow-hard : 4px 6px 12px rgba(0,0,0,0.4);
    --gradient-bgimg : linear-gradient(transparent, #0a1e1d);


    --gradient-bg-profil : linear-gradient(315deg, #ffffff 0%, #d7e1ec 74%);


    --padding-a-small : 12px;
    --espace-section : 30px;

    --border-arrow-godown-bis   :  20px solid rgba(0,0,0,0);
    --border-arrow-godown       :  20px solid var(--colorSecondary-rgba);

}

html {
    scroll-behavior: smooth;
    overflow-x: hidden;
}

body{
    /*background-color: #000000;
    background-image: linear-gradient(315deg, #000000 0%, #414141 74%);*/

    background-image: var(--gradient-bg-profil);
    /*background: var(--gradient-gray);*/
}

body::-webkit-scrollbar {
    width: 0;
}

body.modal-open  {
    overflow: hidden;
    position: fixed;
}
/*
body.viewport-lg {
position: absolute;
}*/


header{
    color: white;
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 100vw;
    max-width: 100%;
    z-index: 10;
}

#nav_bar {
    background: var(--gradient-blue);
    box-shadow: var(--box-shadow-hard);
    font-family: 'Permanent Marker', cursive;
    position: relative;
}

.nav-item .active {
    border-radius: 6px;
    background: var(--colorSecondaryVariant);
    box-shadow: var(--box-shadox-blue-active);
}

#nav_bar .dropdown-menu a:hover {
    color: var(--colorSecondary);
}

#nav_bar .nav-item {
    margin : auto 4px;
    cursor: pointer;
}

#nav_bar a {
    padding-left  : var(--padding-a-small);
    padding-right : var(--padding-a-small);
    color: white;
    fill: white;
}

#nav_bar a:hover {
    color: var(--colorSecondary);
    fill: var(--colorSecondary);
}

#nav_bar .dropdown-menu {
    background : #545454
}

#nav_bar #currentPartyName {
    position: absolute;
    left: 50%;
    transform: translate(-50%,-50%);
    top: 50%;
    margin: 0;
    font-size: xx-large;
}



#title{
    color: var(--colorSecondary);
}

#description{
    color: white;
}


#main_container{
    padding-top: 60px;
}

#main_container_chess {
    width: 100vw;
    height: 100vh;
    /*max-width: 100%;*/
    margin: 0;
    padding: 0;

    /*background: var(--gradient-game);*/

    background-image: radial-gradient( circle farthest-corner at 22.4% 21.7%, var(--colorPrimaryVariant) 0%, var(--colorPrimaryVariantDark) 100.2% );
}

div#homepage button {
    background-color: var(--colorPrimaryVariant);
    color: white;
}

div#homepage .parallaxBG{
    position: relative;
}

.parallaxBG {
    background-image: var(--gradient-bgimg), url("../res/drawable/img/rendu_raycast.png");
    width: 100vw;
    height: 100vh;
    max-width: calc(var(--bs-gutter-x) + 100%);
    padding: 0;

    margin-right : calc(var(--bs-gutter-x) * -.5);
    margin-left  : calc(var(--bs-gutter-x) * -.5);

    /* Create the parallax scrolling effect */
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;

    border-bottom : solid var(--espace-section) var(--colorPrimaryVariant);
}

/*https://codepen.io/z-/pen/BoyXKr*/
#homepage .arrows {
    position: absolute;
    bottom: 10%;
    left: 50%;
    /**/
    width: 60px;
    height: 60px;
    transform: translateX(-50%);

    cursor: pointer;
}
#homepage .arrows:before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: var(--border-arrow-godown);
    border-bottom: var(--border-arrow-godown);
    transform: translate(20px, 100px) rotate(-45deg);
    animation: arrows 2s linear infinite;
}
#homepage .arrows:after {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-left: var(--border-arrow-godown);
    border-bottom: var(--border-arrow-godown);
    transform: translate(50px, 0px) rotate(-45deg);
    animation: arrows 2s linear infinite -1s;
}
@keyframes arrows {
    0% {
        border-left: var(--border-arrow-godown-bis);
        border-bottom: var(--border-arrow-godown-bis);
        transform: translate(-13px, -50px) rotate(-45deg);
    }
    10%, 90% {
        border-left: var(--border-arrow-godown-bis);
        border-bottom: var(--border-arrow-godown-bis);
    }
    50% {
        border-left: var(--border-arrow-godown);
        border-bottom: var(--border-arrow-godown);
        transform: translate(-13px, 0px) rotate(-45deg);
    }
    100% {
        border-left: var(--border-arrow-godown-bis);
        border-bottom: var(--border-arrow-godown-bis);
        transform: translate(-13px, 50px) rotate(-45deg);
    }
}


/*===============================================================================
 ACCOUNT ELEMENTS
 ===============================================================================*/
#account{
    height: 100vh;
    width: 100vw;
    box-sizing: border-box;
    max-width: 100%;
}
/*https://bbbootstrap.com/snippets/bootstrap-5-profile-card-animation-74461039*/
#account #profil_card .card {
    width: 350px;
    background-color: var(--colorTertiary);
    border: none;
    cursor: pointer;
    transition: all 0.5s;
    color: white;
}

#account #profil_card .image img {
    transition: all 0.5s
}

#account #profil_card .card:hover .image img {
    transform: scale(1.5)
}

#account #profil_card .btn {
    height: 140px;
    width: 140px;
    border-radius: 50%;
}

#account #profil_card .name {
    font-size: xx-large;
    font-weight: bold;
}

#account #profil_card .idd {
    font-size: 14px;
    font-weight: 600
}

#createAccount #profil_card .idd1 {
    font-size: 12px;
}

#account #profil_card .number {
    font-size: 22px;
    font-weight: bold
}

#account #profil_card .follow {
    font-size: 12px;
    font-weight: 500;
    color: #cccccc;
}

#account #profil_card .btn1 {
    height: 40px;
    width: 150px;
    border: none;
    color: black;
    background-image : linear-gradient(#d7e1ec,#d7e1ec);
    font-size: x-large;
    font-weight: bold;

    transition: color .1s ease,background-image .2s ease;
}

#account #profil_card .btn1:hover{
    color: var(--colorTertiaryVariant);
    background-image : var(--gradient-bg-profil);
}

#account #profil_card .text span {
    font-size: 15px;
    color: #cccccc;
    font-weight: 500
}

#account #profil_card hr .new1 {
    border: 1px solid
}

#account #profil_card .join {
    font-size: 14px;
    color: #a0a0a0;
    font-weight: bold
}

#account #profil_card .date {
    background-color: #ccc
}

#account #profil_card svg{
    fill: var(--colorPrimaryVariant);
}

#account #accoptions svg{
    fill: black;
    transition: fill .5s ease;
}

#account #accoptions svg:hover{
    fill: var(--colorTertiary);
}


/*===============================================================================
    ON CENNECTION ELEMENTS
===============================================================================*/
#connected{
    background-color: var(--colorSecondaryLight);
    height: auto;
    box-sizing: border-box;
}

#connected h2{
    color: var(--colorSecondaryVariant);
}

#menubtn button.menubtn{
    padding: 20px;
    color: white;
    background : var(--gradient-magenta);
    font-size: x-large;
    width: 100%;
}

#BG_connected{
    background-image: var(--gradient-bgimg), url("../res/drawable/img/render.png");
    border-bottom-color: var(--colorTertiary);
    border-top: solid var(--espace-section) var(--colorTertiary);
    margin: 0;
    max-width: 100%;
    height: 75vh;
}

#listElem svg{
    fill: var(--colorTertiary);
}

.btn_option {
    background-color: var(--colorTertiary);
    color: white;
    padding: 10px 5px 10px 5px;
}

/*
.btn_option:hover {
    background-color: var(--colorTertiary);
    color: white;
}

.btn_option:focus {
    background-color: var(--colorTertiary);
    color: white;
}
*/
#main_container_chess .offcanvas-backdrop{
    max-width: 100%;
}

.modal-title{
    font-family: 'Permanent Marker', cursive !important;
}


/*PROFIL DATA ELEMENTS MODAL*/
.history_btn_res{
    position: relative;
    display: flex;
    text-align: center;

}

.history_btn_res.win {
    fill: var(--colorPrimaryVariant);
}

.history_btn_res.loose {
    fill: var(--colorTertiary);
}

.history_btn_res p{
    position: absolute;
    left: 0;
    top: 50%;

    width: 100%;
    height: auto;

    transform: translateY(-50%);
    color: black;
    font-family: 'Permanent Marker', cursive;
    font-weight: bold;
    z-index: 1;

    font-size: x-large;
}

.trophee_classement{
    position: relative;
    fill: var(--colorTertiary);
    text-align: center;

    display: inline-block;
}

.trophee_classement p{
    position: absolute;
    left: 0;
    top: 50%;
    width: 100%;
    height: auto;
    transform: translateY(-50%);

    font-family: 'Permanent Marker', cursive;
    color: var(--colorTertiaryVariant);
}


/*TOAST*/
#AlertMessageToast{
    /*min-height: 200px;*/
    z-index: 1000;
    position: fixed;
    left: 50%;
    bottom: 10%;
    transform: translateX(-50%);
    background-color: var(--colorTertiaryVariant);
    border: solid 2px var(--colorTertiary);
}

#AlertMessageToast .title{
    font-size: x-large;
}

#toastValue {
    font-size: medium;
    text-align: center;
    color: white;
}

#AlertMessageToast img{
    width: 50px;
    height: 50px;
}


/*SWITCH ELEM*/
#preferencesModal .modal-body{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

#preferencesModal .modal-body label{
    font-size: 20px;
}

#preferencesModal .switch {
    --inactive-bg: #cfd8dc;
    --active-bg: #00e676;
    --size: 2rem;
    appearance: none;
    width: calc(var(--size) * 2.2);
    height: var(--size);
    display: inline-block;
    border-radius: calc(var(--size) / 2);
    cursor: pointer;
    background-color: var(--inactive-bg);
    background-image: radial-gradient(
            circle calc(var(--size) / 2.1),
            #fff 100%,
            #0000 0
    ),
    radial-gradient(circle calc(var(--size) / 1.5), #0003 0%, #0000 100%);
    background-repeat: no-repeat;
    background-position: calc(var(--size) / -1.75) 0;
    transition: background 0.2s ease-out;
}

#preferencesModal .switch:checked {
    background-color: var(--colorSecondary);
    background-position: calc(var(--size) / 1.75) 0;
}